.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  
  .input-group input {
    flex: 1;
  }

  .form-box input{
    width: 100%;
    padding: 12px; /* Aumenta el padding para uniformidad */
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Asegura que el texto tenga el mismo tamaño */
    box-sizing: border-box;
  }
  
  .button {
    background-color: #5F874E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #5F874E;
  }
  
  .login-text {
    text-align: center;
    margin-top: 10px;
  }
  
  .link {
    color: #5F874E;
    cursor: pointer;
    font-weight: bold;
  }
  